<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>covid</title>
</head>
<body>
 <div id="container"></div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script>
    Highcharts.chart('container', {

  title: {
    text: 'Covid chart'
  },

  subtitle: {
    text: '월별 확진자수'
  },

  yAxis: {
    title: {
      text: 'Number of Employees'
    }
  },

  xAxis: {
    accessibility: {
      rangeDescription: 'Range: 2 to 6'
    }
  },

  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle'
  },

  plotOptions: {
    series: {
      label: {
        connectorAllowed: false
      },
      pointStart: 2
    }
  },

  series: [{
    name: 'Korea',
    data: [3010, 9786, 10774, 11503, 12373]
  }, {
    name: 'France',
    data: [6, 130, 57749, 167305, 189348]
  }, {
    name: 'US',
    data: [24,118701,1072667,1799122,2220961]
  }, {
    name: 'United Kingdom',
    data: [2, 36, 29865, 178685, 277736]
  }, {
    name: 'Germany',
    data: [79, 71808, 163009, 183410, 190299]
  }],

  responsive: {
    rules: [{
      condition: {
        maxWidth: 500
      },
      chartOptions: {
        legend: {
          layout: 'horizontal',
          align: 'center',
          verticalAlign: 'bottom'
        }
      }
    }]
  }

});
</script>
</body>
</html>